<body id="background">
  <div class="row">
    <div class="col-md-offset-4 col-md-4" id="trip">
      <h1 id="main-hdr">Co-Pilot</h1>
      <%= form_for @trip, url: trips_path do |f| %>
        
        <div id="div-container">
          <%= f.text_field :start_from, placeholder: 'Where are you coming from?', id: 'index-start' , class: 'autocomplete'%>
          <%= f.text_field :go_to, placeholder: 'Where do you want to go?', id: 'index-end', class: '' %>
        </div>
        <div id="icons" >

          <img id="hotel" src="/images/hotel.png" alt="hotel">
          <%= f.check_box :hotel, id: 'checkbox-hotel' %>

          <img id="food" src="/images/food.png" alt="food">
          <%= f.check_box :food, id: 'checkbox-food' %>

          <img id="entertainment" src="/images/entertainment.png" alt="entertainment">
          <%= f.check_box :entertainment, id: 'checkbox-entertainment' %>

          <img id="historical" src="/images/historical.png" alt="historical">
          <%= f.check_box :monument, id: 'checkbox-monument' %>

          <img id="outdoors" src="/images/outdoors.png" alt="outdoors">
          <%= f.check_box :nature, id: 'checkbox-outdoors' %>

          <img id="camping" src="/images/camping.png" alt="camping">
          <%= f.check_box :camping, id: 'checkbox-camping' %>

          <button class="btn btn-info" type="submit" name="submit" id="start-trip-btn">Start Trip</button>
        </div>
     
      <% end %>
    </div>
  </div>
</body>

<script type="text/javascript">
  $(function() {
    TripPlanner.initialize('index-end');
    TripPlanner.initialize('index-start');
    
    $('.autocomplete').on('focus', TripPlanner.geolocate);
  });

</script>