<div id="map-canvas"></div>
<div id='panel'>
  <h1 id="panel-hdr"><%= link_to "Co-Pilot", root_path %></h1>
  <div id='search-bar'>
    <input type="text" name="query" id="query"><button type="button" class="btn btn-info" id="search-button">Search</button>
  </div>
  <%= form_for @trip do |f| %>
    <%=f.text_field :start_from ,:id=>"origin_field", placeholder: 'Where are you coming from?' %>
    <%=f.text_field :go_to ,:id=>"dest_field", placeholder: 'Where do you want to go?' %>
    <button type="button" class="btn btn-info" id="dir-button">Show Map</button>
    <%=f.text_field :title, id:'trip-title', placeholder: 'Trip Title' %>
    <%=f.submit "Save Trip", class: "btn btn-info", id: "dir-button"%>
  <% end %>
</div>
<!-- <div id='attractions'></div> -->

<script type="text/javascript">
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

