

new send invitations


<h1>Trips#new</h1>
<p>Find me in app/views/trips/new.html.erb</p>




<%= link_to "Back to trip", trip_path(@trip) %><br/>

<h2>Write a shared_trip of <em><%= @trip.title %></em>.</h2>

<%= form_for([@trip, @shared_trip]) do |f| %>
  <% if @shared_trip.errors.any? %>
    <div>
      <%= pluralize(@shared_trip.errors.count, "error") %> prevented the shared_trip from being saved:
      <ul>
        <% @shared_trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "user_id" %><br>
    <%= f.text_area "user_id" %>
  </div>
 
  <div><%= f.submit "Submit" %></div>
<% end %>



